<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- si mi app se conecta a internet, necesito declarar el permiso aquí -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- si quiero comprobar el estado de la red, necesito este permiso -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- para poder usar la cámara fotos o videos -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- con el valor a true exijo que los dispositivos tengan cámara para poder instalar esta app -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KyndrylAPP"
        tools:targetApi="31">
        <activity
            android:name=".activity.FotoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProductosActivity"
            android:exported="false"
            android:label="Productos Activity" />
        <activity
            android:name=".activity.GaleriaPerrosActivity"
            android:exported="false"
            android:label="GALERÍA DE PERROS" />
        <activity
            android:name=".activity.PerrosActivity"
            android:exported="false"
            android:label="Búsqueda fotos caninas" />
        <activity
            android:name=".activity.KyndrylWebActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host=".kyndryl.com"
                    android:scheme="http" />
                <data
                    android:host=".kyndryl.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BusquedaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ResultadoImcActivty"
            android:exported="false"
            android:theme="@style/Theme.KyndrylAPPSinBarra" />
        <activity
            android:name=".activity.ImcActivity"
            android:exported="false"
            android:label="IMC Activity" />
        <!--
        <activity
            android:name=".activity.Adivina"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|orientation|screenSize"
            android:exported="true"
            android:label="Juego Adivina"></activity>
        -->
        <activity
            android:name=".activity.AdivinaActivity"
            android:exported="true"
            android:label="@string/label_activity_adivina" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.basic.kyndrylapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ruta_provider" />
        </provider>
    </application>

</manifest>